<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Agregar Clase">
            <p><small>Crea nuevo clase de carrera: <b>Doctorado</b></small></p>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" [(ngModel)]="clase">
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" [mat-dialog-close]="true" (click)="addClass()">Add</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>    
</mat-dialog-actions>