<mat-toolbar color="primary">
    <img src="../../assets/img/usta-icono-logo.svg" alt="USTA" routerLink="/dashboard">
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>perm_identity</mat-icon>
                <span>{{ loggedUser || 'User' }}</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>settings</mat-icon>
                <span>Configuaración</span>
            </button>
            <button mat-menu-item (click)="loggout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>