<section class="users">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Usuarios Administradores</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h4>Usuarios Existentes</h4>
        <mat-nav-list>
          <mat-list-item *ngFor="let user of users" (click)="updateUser(user)">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ user.email }}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h4>Agregar o Editar Administrador</h4>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Nombre" type="text" [(ngModel)]="singinParams.name">
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="!user">
            <mat-form-field>
              <input matInput placeholder="Usuario" type="text" [(ngModel)]="singinParams.email">
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="!user">
            <mat-form-field>
              <input matInput placeholder="Contraseña" type="password" [(ngModel)]="singinParams.password">
            </mat-form-field>
          </div>
          <div class="col-md-12" *ngIf="!user">
            <button mat-flat-button color="primary" (click)="singIn()">Agragar nuevo</button>
          </div>
          <div class="col-md-12" *ngIf="user">
            <button mat-flat-button color="primary" (click)="update()">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>