<div class="upload">
  <div class="row">
    <div class="col-md-12" *ngIf="!croppedImage">
      <div class="button-file">
        <button mat-stroked-button color="primary">
          <mat-icon>insert_photo</mat-icon> Seleccionar Imágen
        </button>
        <input type="file" (change)="fileChangeEvent($event)">
      </div>
      <small>Las imágenes deben tener una medida minima de 1400 pixeles de ancho, y un peso maximo de 1MB</small>
    </div>
    <div class="col-md-12">
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
        (imageCroppedBase64)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"
        format="png, jpeg">
      </image-cropper>
    </div>
    <div class="col-md-12">
      <img [src]="croppedImage" class="img-fluid" />
      <div *ngIf="croppedImage">
        <hr>
        <button mat-stroked-button color="primary" type="button" (click)="UploadImage()">
          <mat-icon>add</mat-icon> Subir imágen
        </button>
      </div>
    </div>
  </div>
</div>