<section class="courses">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Cursos creados</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de carrera</mat-label>
          <mat-select placeholder="Tipo de Carrera" [(ngModel)]="tipo" (selectionChange)="changeType($event.value)">
            <mat-option>Selecciona una</mat-option>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <mat-select placeholder="Area" [(ngModel)]="area" (selectionChange)="changeArea($event.value)">
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <mat-nav-list>
          <mat-list-item *ngFor="let course of courses" routerLink="/edit/{{ tipo }}/{{ area }}/{{ course.url }}">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ course.name }}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>

  </div>
</section>
