<section class="types">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Tipos de carreras creadas</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <mat-nav-list>
          <mat-list-item *ngFor="let tipo of types" (click)="editType(tipo)">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ tipo.name }}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
      
      <div class="col-md-8" *ngIf="edit">
        <h4>Editar</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Type name</mat-label>
              <input matInput placeholder="Name" [(ngModel)]="tipo.name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Color</mat-label>
              <input matInput placeholder="Color" type="color" [(ngModel)]="tipo.color">
            </mat-form-field>
          </div>
          <div class="col">
            <div class="pic">
              <img [src]="tipo.img" class="img-fluid">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <button type="button" color="primary" mat-raised-button (click)="viewPics()">
              Seleccionar imágen de portada
            </button>
          </div>
        
          <div class="col">
            <button type="button" mat-raised-button (click)="OpenUploader()">
              Subir nueva imágen
            </button>
          </div>
        
          <div class="col-md-12 galery" *ngIf="viewpics">
            <hr>
            <h4>Imágenes cargadas en la plataforma</h4>
            <div class="col-md-12 picsContainer">
              <div class="pic" *ngFor="let pic of pisclist">
                <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
                <button type="button" mat-icon-button (click)="selectPic(pic)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        
        
          <div class="col-md-12">
            <hr>
            <button mat-flat-button color="primary" (click)="saveType()">Guardar</button>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="!edit">
        <img src="../../assets/img/welcome.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>