<section class="types">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Areas creadas</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Tipo de carrera</mat-label>
            <mat-select placeholder="Tipo de Carrera" [(ngModel)]="tipo" (selectionChange)="changeType($event.value)">
              <mat-option *ngFor="let tipo of types" [value]="tipo.id">{{ tipo.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <hr>
        <mat-nav-list *ngIf="areas">
          <mat-list-item (click)="editArea(area)" *ngFor="let area of areas">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ area.name}}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div class="col-md-8" *ngIf="edit">
        <h4>Editar</h4>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del Area</mat-label>
              <input matInput placeholder="Area" [(ngModel)]="area.name">
            </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <h4>Imágen de portada</h4>
            <div class="pic">
              <img [src]="area.img" class="img-fluid">
            </div>
            <hr>
            <div>
              <button type="button" color="primary" mat-raised-button (click)="viewPics()">
                Seleccionar imágen de portada
              </button>
            </div>
          </div>
          <div class="col">
            <h4>Icono</h4>
            <div class="pic">
              <img [src]="area.icono" class="img-fluid">
            </div>
            <hr>
            <div>
              <button type="button" color="primary" mat-raised-button (click)="viewIcons()">
                Seleccionar Icono
              </button>
            </div>
          </div>
          
          <div class="col-md-12">
            <hr>
            <button type="button" mat-raised-button (click)="OpenUploader()">
              Subir nueva imágen
            </button>
          </div>
          
          <div class="col-md-12 galery" *ngIf="viewpics">
            <hr>
            <h4>Imágenes cargadas en la plataforma</h4>
            <div class="col-md-12 picsContainer">
              <div class="pic" *ngFor="let pic of pisclist">
                <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
                <button type="button" mat-icon-button (click)="selectPic(pic)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
          
          <div class="col-md-12 galery" *ngIf="viewicons">
            <hr>
            <h4>Imágenes cargadas en la plataforma</h4>
            <div class="col-md-12 picsContainer">
              <div class="pic" *ngFor="let pic of pisclist">
                <img [src]="pic" class="img-fluid" (click)="selectIcon(pic)">
                <button type="button" mat-icon-button (click)="selectIcon(pic)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <hr>
            <button mat-flat-button color="primary" (click)="saveArea()">Guardar</button>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="!edit">
        <img src="../../assets/img/welcome.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>