<section class="type">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-11">
        <h1 class="title">Crear nuevo tipo de curso</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Type name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Color" type="color" [(ngModel)]="color">
        </mat-form-field>
      </div>
      <div class="col" *ngIf="pictureUrl">
        <img [src]="pictureUrl" class="img-fluid">
        <button type="button" mat-raised-button (click)="removepic()">
          <mat-icon>close</mat-icon> Cambiar imágen
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="!pictureUrl">
        <button type="button" color="primary" mat-raised-button (click)="viewPics()">
          Seleccionar imágen de portada
        </button>
      </div>

      <div class="col" *ngIf="!pictureUrl">
        <button type="button" mat-raised-button (click)="OpenUploader()">
          Subir nueva imágen
        </button>
      </div>

      <div class="col-md-12 galery" *ngIf="viewpics">
        <hr>
        <h4>Imágenes cargadas en la plataforma</h4>
        <div class="col-md-12 picsContainer">
          <div class="pic" *ngFor="let pic of pisclist">
            <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
            <button type="button" mat-icon-button (click)="selectPic(pic)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <hr>
        <button mat-flat-button color="primary" (click)="addTipo()">Agregar</button>
      </div>
    </div>
  </div>
</section>

<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>