.login {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    &-container {
        position: relative;
        padding: 1.5em;
        background-color: #fff;
        -webkit-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.20);
        -moz-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.20);
        box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.20);
    }

    &-header {
        text-align: center;
        color: #003c8f;
        h1 {
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        p {
            font-weight: 100;
            font-size: 12px;
        }
    }
    &-form {
        .input-container {

        }
    }
}
