<section class="login">
  <div class="login-container">
    <div class="login-header">
      <h1>Welcome</h1>
      <p>Please login to start</p>
    </div>
    <div class="login-form">
      <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="User / Email" type="text" [(ngModel)]="loginParams.email">
          </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [(ngModel)]="loginParams.password">
        </mat-form-field>
      </div>
    <button mat-stroked-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</section>