<div class="upload">
  <div class="row">
    <div class="col-md-12">
      <div class="button-file">
        <button mat-stroked-button color="primary">
          <mat-icon>picture_as_pdf</mat-icon> Seleccionar Archivo
        </button>
        <input type="file" (change)="fileChangeEvent($event)">
      </div>
      <small>Los archivos deben ser en formato PDF con un peso maximo de 1MB</small>
    </div>
  </div>
</div>