.create {
    position: relative;
    padding: 60px 0;
}
.mat-form-field {
    margin-right: 8px;
}
.mat-hint a {
    cursor: pointer;
}
.galery {
    margin: 34px 0;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}
