<section class="create">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-8">
        <h1 class="title">Crear nueva carrera</h1>
      </div>
      <div class="col-md-3">
        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="active">
          Curso <span *ngIf="active">Activo</span> <span *ngIf="!active">Inactivo</span>
        </mat-slide-toggle>
      </div>
    </div>
    <hr>
    <form [formGroup]="rForm" (ngSubmit)="createCourse(rForm.value)" autocomplete="off">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de carrera</mat-label>
            <mat-select placeholder="Tipo de Carrera" formControlName="tipo" (selectionChange)="changeType($event.value)">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.name }}</mat-option>
            </mat-select>
            <mat-hint><a mat-link (click)="OpenType()">Agragar tipo de carrera</a></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline" *ngIf="area">
            <mat-label>Area</mat-label>
            <mat-select placeholder="Area" formControlName="area">
              <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
            </mat-select>
            <mat-hint><a mat-link (click)="OpenArea()">Agragar nueva area</a></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline" *ngIf="clase">
            <mat-label>Clase</mat-label>
            <mat-select placeholder="Clase" formControlName="clase">
              <mat-option *ngFor="let clase of clases" [value]="clase.id">{{ clase.name }}</mat-option>
            </mat-select>
            <mat-hint><a mat-link (click)="openDialog()">Agragar nueva clase</a></mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de la carrera</mat-label>
            <input matInput placeholder="Nombre de la carrera" formControlName="name">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Código SNIES</mat-label>
            <input matInput placeholder="Código SNIES" formControlName="snies">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Registro Calificado</mat-label>
            <input matInput placeholder="Registro Calificado" formControlName="registro">
          </mat-form-field>
        </div>
      </div>
        
      <div class="row">

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Acreditación</mat-label>
            <input matInput placeholder="Acreditación" formControlName="acreditacion">
            <mat-hint>*Campo opcional, dejar en blanco si no aplica</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Ubicación</mat-label>
            <input matInput placeholder="Ubicación" formControlName="ubicacion">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Inversión por Semestre</mat-label>
            <input matInput placeholder="Inversión por Semestre" formControlName="inversion">
          </mat-form-field>
        </div>

      </div>
        
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Título otorgado</mat-label>
            <input matInput placeholder="Título otorgado" formControlName="titulo">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Modalidad</mat-label>
            <input matInput placeholder="Modalidad" formControlName="modalidad">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Duración</mat-label>
            <input matInput placeholder="Duración" formControlName="duracion">
          </mat-form-field>
        </div>
      </div> 
      
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Jornada</mat-label>
            <input matInput placeholder="Jornada" formControlName="jornada">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>configuración URL</mat-label>
            <input matInput placeholder="configuración URL" formControlName="url">
            <mat-hint>www.mipagina.com/curusos/<b>el-nombre-del-curso</b></mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Video ID</mat-label>
            <input matInput placeholder="Video ID" formControlName="video">
            <mat-hint>Video ID de Youtube</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-5">
            <h4>Conoce más</h4>
            <mat-form-field appearance="outline">
              <mat-label>Titulo</mat-label>
              <input matInput placeholder="Titulo" #title>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contenido</mat-label>
              <textarea matInput placeholder="Contenido" #text></textarea>
            </mat-form-field>
            <button mat-mini-fab type="button" (click)="addItem(title.value, text.value)" color="secondary">
              <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="col-md-7">
          <h4>Items agregados</h4>
          <mat-nav-list>
            <mat-list-item *ngFor="let item of content">
              <h3 matLine> {{ item.title }} </h3>
              <p matLine> {{ item.content }} </p>
              <button type="button" mat-icon-button (click)="removeItem(item)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>      
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Imágen de portada</h4>
        </div>
        <div class="col-md-4" *ngIf="!pictureUrl">
          <button type="button" color="primary" mat-raised-button (click)="viewPics()">
            Seleccionar imágen de portada
          </button>
        </div>
        <div class="col-md-4" *ngIf="!pictureUrl">
          <button type="button" mat-raised-button (click)="OpenUploader()">
            Subir nueva imágen
          </button>
        </div>
        <div class="col-md-4 pic" *ngIf="pictureUrl">
          <img [src]="pictureUrl" class="img-fluid">
          <button type="button" mat-icon-button (click)="removepic()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="row galery" *ngIf="viewpics">
        <div class="col-md-12">
          <h4>Imágenes cargadas en la plataforma</h4>
        </div>
        <div class="col-md-12 picsContainer">
          <div class="pic" *ngFor="let pic of pisclist">
            <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
            <button type="button" mat-icon-button (click)="selectPic(pic)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Plan de estudios</h4>
        </div>
        <div class="col-md-4">
          <button type="button" color="primary" mat-raised-button (click)="viewFiles()">
            Seleccionar Archivo
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" mat-raised-button (click)="OpenUploadFile()">
            Subir Archivo
          </button>
        </div>
        <div class="col-md-4" *ngIf="selectedFile.name">
          <mat-nav-list>
            <mat-list-item>
              <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
              <h4 mat-line>{{ selectedFile.name }}</h4>
              <a href="{{ selectedFile.url }}" target="blank"><small>Ver</small> </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
      <hr>
      <div class="row" *ngIf="viewfiles">
        <div class="col-md-12">
          <h4>Archivos cargados en la plataforma</h4>
        </div>
        <div class="col-md-12 filesContainer">
          <mat-nav-list>
            <mat-list-item *ngFor="let file of fileList" (click)="selectFile(file)">
              <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
              <h4 mat-line>{{ file.name }}</h4>
              <a href="{{ file.url }}" target="blank"><small>Ver</small> </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.valid">Crear curso</button>
        </div>
      </div>      
    </form>
  </div>
</section>

<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>

<div class="uploader" *ngIf="addType">
  <button type="button" mat-icon-button (click)="OpenType()">
    <mat-icon>close</mat-icon>
  </button>
  <app-types></app-types>
</div>

<div class="uploader" *ngIf="addArea">
  <button type="button" mat-icon-button (click)="OpenArea()">
    <mat-icon>close</mat-icon>
  </button>
  <app-areas></app-areas>
</div>

<div class="uploader" *ngIf="uploadfile">
  <button type="button" mat-icon-button (click)="OpenUploadFile()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-files></app-upload-files>
</div>
