<section class="testimonials">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Push Messages</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <mat-expansion-panel *ngFor="let message of messages">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{ message.title }}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="message-body">
            <b>{{ message.title}}</b> <br/>
            {{ message.content }} <br>
            <small>{{ message.action }}</small>
          </p>
        </mat-expansion-panel>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h4>Enviar nuevo mensaje</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Titulo</mat-label>
              <input matInput placeholder="Titulo" [(ngModel)]="title">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Action</mat-label>
              <input matInput placeholder="Action" [(ngModel)]="action">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Mensaje</mat-label>
              <textarea matInput placeholder="Mensaje" [(ngModel)]="content"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="sendMessage()">Enviar Mensaje</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>