<section class="welcome">
  <div class="welcome-container">
    <div class="icon">
      <img src="../../assets/img/welcome.svg" alt="Welcome">
    </div>
    <div class="welcome-text">
      <p>Welcome, {{ actionText }}</p>
      <button mat-flat-button color="primary" routerLink="/{{ action }}">{{ actionLabel }}</button>
    </div>
  </div>
</section>