.welcome {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 100%;
        max-width: 400px;
        .icon {
            width: 100%;

            img {
                max-width: 100%;
            }
        }
    }

    &-text {
        text-align: center;
        color: #545c6e;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 1.8;
        transition: all .4s ease-in-out;
    }
}