<section class="types">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-4">
        <h1 class="title">Categorias creadas</h1>
      </div>
      <div class="col-md-4">
        <button mat-raised-button type="button" (click)="openDialog()" color="secondary">
          Agragar nueva categoria <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <mat-nav-list>
          <mat-list-item *ngFor="let clase of clases" (click)="editCat(clase)">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ clase.name }}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div class="col-md-8" *ngIf="edit">
        <h4>Editar</h4>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="categoria.name">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <hr>
            <button mat-flat-button color="primary" (click)="saveCat()">Guardar</button>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="!edit">
        <img src="../../assets/img/welcome.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>