
.dashboard {
    position: relative;
    background-color: #fafafa;
    min-height: 92vh;
    
    &-menu {
        margin-top: 60px;
    }
    &-notifications {
        margin-top: 60px;

        img {
            max-width: 400px;
            display: block;
            margin: 0 auto;
        }
        p {
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 700;
            margin-top: 20px;
        }
    }
}

.dashboard-menu {
    max-height: 700px;
    overflow: scroll;
    padding: 4px;
}