<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-menu" data-spy="scroll" data-offset="0">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Carreras
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/create">
                                <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                                <h4 mat-line>Agregar nueva carrera</h4>
                            </mat-list-item>
                            <mat-list-item routerLink="/courses">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver carreras creadas</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tipos de carreras
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/types">
                                <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                                <h4 mat-line>Agregar nueva</h4>
                            </mat-list-item>
                            <mat-list-item routerLink="/types-list">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver creadas</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Areas de conocimiento
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/areas">
                                <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                                <h4 mat-line>Agregar nuevo</h4>
                            </mat-list-item>
                            <mat-list-item routerLink="/areas-list">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver creados</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Categorias de carreras
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/categrories">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver creadas</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Testimonios
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/testimonios">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver todo</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Push Messages
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/pushmessages">
                                <mat-icon mat-list-icon>book</mat-icon>
                                <h4 mat-line>Ver todo</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Usuarios
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <mat-nav-list>
                            <mat-list-item routerLink="/users">
                                <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                                <h4 mat-line>Ver / Editar</h4>
                            </mat-list-item>
                        </mat-nav-list>
                    
                    </mat-expansion-panel>

                </div>
            </div>
            <div class="col-md-8">
                <div class="dashboard-notifications">
                    <img src="../../assets/img/welcome.svg" alt="Usta" class="img-fluid">
                    <p class="text-center">
                        No tienes notificaciones nuevas
                    </p>
                </div>
            </div>
        </div>
    
    </div>
</section>