<section class="testimonials">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-1">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
      </div>
      <div class="col-md-11">
        <h1 class="title">Testimonios</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <mat-nav-list>
          <mat-list-item (click)="testimonio = {}">
            <mat-icon mat-list-icon>add</mat-icon>
            <h4 mat-line>Crear nuevo</h4>
          </mat-list-item>
          <mat-list-item *ngFor="let testi of testis" (click)="selectTesti(testi)">
            <mat-icon mat-list-icon>arrow_forward</mat-icon>
            <h4 mat-line>{{ testi.name }}</h4>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <h4 *ngIf="testimonio.name">{{ testimonio.name }}</h4>
            <h4 *ngIf="!testimonio.name">Crear nuevo</h4>
          </div>
          <div class="col-md-4">
            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="testimonio.active">
              Testimonio <span *ngIf="testimonio.active">Activo</span> <span *ngIf="!testimonio.active">Inactivo</span>
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de carrera</mat-label>
              <mat-select placeholder="Tipo de Carrera" [(ngModel)]="testimonio.tipo" (selectionChange)="changeType($event.value)">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Area</mat-label>
              <mat-select placeholder="Area" [(ngModel)]="testimonio.area" (selectionChange)="changeArea($event.value)">
                <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Curso</mat-label>
              <mat-select placeholder="Curso" [(ngModel)]="testimonio.curso">
                <mat-option *ngFor="let curso of cursos" [value]="curso.url">{{ curso.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="testimonio.name">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>Testimonio</mat-label>
              <textarea matInput placeholder="Testimonio" [(ngModel)]="testimonio.content"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12" *ngIf="testimonio.pic">
            <img [src]="testimonio.pic" class="img-fluid avatar">
            <hr>
          </div>
          <div class="col-md-6">
            <button type="button" mat-raised-button color="primary" (click)="OpenUploader()">
                Subir Foto de perfil
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" mat-raised-button (click)="OpenGalery()">
              Seleccionar foto existente
            </button>
          </div>
          <div class="col-md-12">
            <hr>
            <button type="button" mat-raised-button color="primary" (click)="crearTestimonio()">
              Guardar Testimonio
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 picsContainer" *ngIf="viewPisc">
            <div class="pic" *ngFor="let pic of picturesList">
              <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
              <button type="button" mat-icon-button (click)="selectPic(pic)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>