/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//  Variables de color 

$primary: #1565c0;
$light: #5e92f3;
$dark: #003c8f;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

// Login 
.login {
    background-color: $primary;
}
// Estilos 
.mat-form-field-infix {
   width: 100% !important; 
   min-width: 280px !important;
}
.mat-list-text {
    h4 {
        font-size: 12px !important;
    }
}
.mat-expansion-panel-body {
    padding: 0 0px 8px !important;
}
.pad1em {
    padding: 1em;
}
.title {
    color: #818181;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #818181;
}

.picsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    margin-top: 20px;
}
.pic {
    position: relative;

    button {
        position: absolute;
        bottom: 10px;
        right: 10%;
        background: #fff;
    }
}

.uploader {
    width: 100%;
    max-width: 400px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: #f5f5f5;
    padding: 1em;
    -webkit-box-shadow: -4px 0px 14px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: -4px 0px 14px -5px rgba(0,0,0,0.44);
    box-shadow: -4px 0px 14px -5px rgba(0,0,0,0.44);
}
.pic {
    background-color: #dedede;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.44);
    box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.44);
}