<section class="areas">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-11">
        <h1 class="title">Crear nueva area</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Tipo al que pertenece</mat-label>
          <mat-select placeholder="Tipo" [(ngModel)]="tipo">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="pictureUrl">
        <h4>Imágen de portada</h4>
        <div class="pic">
          <img [src]="pictureUrl" class="img-fluid">
          <button type="button" mat-raised-button (click)="removepic()">
            <mat-icon>close</mat-icon> Cambiar
          </button>
        </div>
      </div>
      <div class="col" *ngIf="iconUrl">
        <h4>Icono</h4>
        <div class="pic">
          <img [src]="iconUrl" class="img-fluid">
          <button type="button" mat-raised-button (click)="removeicon()">
            <mat-icon>close</mat-icon> Cambiar
          </button>
        </div>
      </div>
      <div class="col" *ngIf="!pictureUrl">
        <button type="button" color="primary" mat-raised-button (click)="viewPics()">
          Seleccionar imágen de portada
        </button>
      </div>

      <div class="col" *ngIf="!iconUrl">
        <button type="button" color="primary" mat-raised-button (click)="viewIcons()">
          Seleccionar Icono
        </button>
      </div>

      <div class="col">
        <button type="button" mat-raised-button (click)="OpenUploader()">
          Subir nueva imágen
        </button>
      </div>

      <div class="col-md-12 galery" *ngIf="viewpics">
        <hr>
        <h4>Imágenes cargadas en la plataforma</h4>
        <div class="col-md-12 picsContainer">
          <div class="pic" *ngFor="let pic of pisclist">
            <img [src]="pic" class="img-fluid" (click)="selectPic(pic)">
            <button type="button" mat-icon-button (click)="selectPic(pic)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12 galery" *ngIf="viewicons">
        <hr>
        <h4>Imágenes cargadas en la plataforma</h4>
        <div class="col-md-12 picsContainer">
          <div class="pic" *ngFor="let pic of pisclist">
            <img [src]="pic" class="img-fluid" (click)="selectIcon(pic)">
            <button type="button" mat-icon-button (click)="selectIcon(pic)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <hr>
        <button mat-flat-button color="primary" (click)="addArea()">Agregar</button>
      </div>
    </div>
  </div>
</section>

<div class="uploader" *ngIf="uploadPic">
  <button type="button" mat-icon-button (click)="OpenUploader()">
    <mat-icon>close</mat-icon>
  </button>
  <app-upload-pics></app-upload-pics>
</div>